---
import { config } from "../utils/config";
import AddToCartBtn from "./vue/components/AddToCartBtn.vue";

interface Props {
  id: number;
  title: string;
  price: string;
  image: string;
}

const { title, price, image, id } = Astro.props;
---

<div class="card bg-base-100 max-w-96 max-h-96 shadow-xl">
  <figure>
    <img src={config.strapiUrl + image} alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{price} {config.currency}</h2>
    <p class="line-clamp-3">{title}</p>
    <div class="card-actions justify-end">
      <a href={`/product/${id}`}>
        <button class="btn btn-primary btn-sm btn-outline" data-cardBtn
          >view</button
        >
      </a>
      <AddToCartBtn id={id} client:visible />
    </div>
  </div>
</div>
