---
import qs from "qs";
import { stripeApi } from "../../utils/stripeApi";
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/alert.astro";
import CartCard from "../../components/cartCard.astro";
import { config } from "../../utils/config";

const token = Astro.cookies.get("token");
const user = Astro.cookies.get("user") as any;

let err: string | null = null;
let cart: any = null;

if (!token?.value || !user?.value) {
  return Astro.redirect("/auth/login");
}

const query = qs.stringify({
  where: {
    user: user?.value?.id,
  },
  populate: {
    cart_items: {
      populate: {
        product: {
          fields: ["title", "price"],
          populate: {
            image: {
              fields: ["url"],
            },
          },
        },
      },
    },
  },
});

try {
  const res = await stripeApi.get("/api/carts" + "?" + query, {
    headers: {
      Authorization: `Bearer ${token.value}`,
    },
  });

  // console.log(
  //   res.data?.data[0]?.attributes?.cart_items?.data[0]?.attributes?.product
  //     ?.data?.attributes,
  // );

  if (res.data?.data?.length && res.data?.data?.length > 0) {
    cart = res.data.data[0];
  }
} catch (error: any) {
  err = error?.message;
}

const cartItems = cart ? cart?.attributes?.cart_items : null;
// console.log(cartItems?.data[0]?.attributes);

function calculateCartTotal(cartItems: any | null) {
  if (cartItems) {
    let total = 0;

    cartItems.forEach((cartItem: any) => {
      const quantity = cartItem?.attributes?.qty || 0;
      const price = cartItem?.attributes?.product?.data?.attributes?.price || 0;
      total += quantity * price;
    });

    return total;
  }
  return 0;
}
---

<Layout title="Cart">
  <main class="container mx-auto">
    {err && <Alert title={err} type="error" />}
    <section class="py-12 relative">
      <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
        <h2
          class="title font-manrope font-bold text-4xl leading-10 mb-8 text-center text-black"
        >
          Shopping Cart
        </h2>
        {
          cartItems.data?.map((item: any) => (
            <CartCard
              id={item?.id}
              productId={item?.attributes?.product?.data?.id}
              title={item?.attributes?.product?.data?.attributes?.title}
              image={
                item?.attributes?.product?.data?.attributes?.image?.data
                  ?.attributes?.url
              }
              qty={item?.attributes?.qty}
              price={item?.attributes?.product?.data?.attributes?.price}
            />
          ))
        }

        <div
          class="flex flex-col md:flex-row items-center md:items-center justify-between lg:px-6 pb-6 border-b border-gray-200 max-lg:max-w-lg max-lg:mx-auto"
        >
          <h5
            class="text-gray-900 font-manrope font-semibold text-2xl leading-9 w-full max-md:text-center max-md:mb-4"
          >
            Subtotal
          </h5>

          <div class="flex items-center justify-between gap-5">
            <h6
              class="font-manrope font-bold text-3xl lead-10 text-indigo-600 text-nowrap"
            >
              {calculateCartTotal(cartItems?.data)}
              {config.currency}
            </h6>
          </div>
        </div>
        <div class="max-lg:max-w-lg max-lg:mx-auto">
          <p
            class="font-normal text-base leading-7 text-gray-500 text-center mb-5 mt-6"
          >
            Shipping taxes, and discounts calculated at checkout
          </p>
          <button class="btn btn-primary w-full">Checkout</button>
        </div>
      </div>
    </section>
  </main>
</Layout>
